<?xml version="1.0"?>
<config>
  <modules>
    <Tpay_Tpay>
      <version>1.0.1</version>
    </Tpay_Tpay>
  </modules>
  <global>
    <blocks>
      <tpay>
        <class>Tpay_Tpay_Block</class>
      </tpay>
    </blocks>
    <models>
      <tpay>
        <class>Tpay_Tpay_Model</class>
      </tpay>
    </models>
    <helpers>
      <tpay>
        <class>Tpay_Tpay_Helper</class>
      </tpay>
    </helpers>
    <resources>
      <tpay_setup>
        <setup>
          <module>Tpay_Tpay</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </tpay_setup>
      <tpay_write>
        <connection>
          <use>core_write</use>
        </connection>
      </tpay_write>
      <tpay_read>
        <connection>
          <use>core_read</use>
        </connection>
      </tpay_read>
    </resources>
  </global>
  <frontend>
    <routers>
      <tpay>
        <use>standard</use>
        <args>
          <module>Tpay_Tpay</module>
          <frontName>tpay</frontName>
        </args>
      </tpay>
    </routers>
  </frontend>
  <default>
    <payment>
      <tpay>
        <active>0</active>
        <model>tpay/paymentMethod</model>
        <title>Tpay.com</title>
        <redirect_url>https://secure.tpay.com/</redirect_url>

      </tpay>
    </payment>
  </default>
</config>
