<?xml version="1.0"?>
<config>
  <sections>
    <payment>
      <groups>
        <tpay translate="label" module="paygate">
          <label>Tpay.com</label>
          <sort_order>670</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <active translate="label">
              <label>Włączony</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </active>
			<id translate="label">
              <label>ID sprzedawcy</label>
              <frontend_type>text</frontend_type>
              <sort_order>4</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </id>
			<kodp translate="label">
              <label>Kod potwierdzajacy</label>
              <frontend_type>text</frontend_type> 
              <sort_order>3</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </kodp>
			<order_status translate="label">
				<label>Status nowego zamówienia</label>
				<frontend_type>select</frontend_type>
                <source_model>adminhtml/system_config_source_order_status</source_model>
                <sort_order>4</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
              </order_status>						
            <sort_order translate="label">
                <label>Kolejność sortowania</label>
                <frontend_type>text</frontend_type>
                <sort_order>2</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
            </sort_order>

          </fields>
        </tpay>
      </groups>
    </payment>
  </sections>
</config>
