<?xml version="1.0"?>
<config>
    <modules>
        <Tpay_TpayCards>
            <version>1.0.0</version>
        </Tpay_TpayCards>
    </modules>
    <global>
        <blocks>
            <tpayCards>
                <class>Tpay_TpayCards_Block</class>
            </tpayCards>
        </blocks>
        <models>
            <tpayCards>
                <class>Tpay_TpayCards_Model</class>
            </tpayCards>
        </models>
        <helpers>
            <tpayCards>
                <class>Tpay_TpayCards_Helper</class>
            </tpayCards>
        </helpers>
        <resources>
            <tpay_setup>
                <setup>
                    <module>Tpay_TpayCards</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tpay_setup>
            <tpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tpay_write>
            <tpay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tpay_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <tpayCards>
                <use>standard</use>
                <args>
                    <module>Tpay_TpayCards</module>
                    <frontName>tpayCards</frontName>
                </args>
            </tpayCards>
        </routers>
    </frontend>
    <default>
        <payment>
            <tpayCards>
                <active>0</active>
                <model>tpayCards/paymentMethod</model>
                <title>Tpay.com credit cards</title>
                <redirect_url>https://secure.tpay.com/cards/</redirect_url>

            </tpayCards>
        </payment>
    </default>
</config>
